/* Take care of ALL styling here unless constrained to style within javascript code.*/
/* Don't forget you can style on an event, while running programming logic on an event is for js.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root {
    color: var(--primary-txt-clr);
    --main-bg-clr: rgb(239, 120, 69);
    --pnl-clr: rgb(255, 255, 255);
    --chkbx-clr: white;
    --input-clr: white;
    --bold-heading-clr: rgb(255, 255, 255);
    --canvas-clr: var(--pnl-clr);
    --divider-clr: var(--main-bg-clr);
    --accent-clr: white;
    --accent-clr-hover: rgb(238, 238, 168);
    --primary-txt-clr: var(--main-bg-clr);
    --secondary-txt-clr: white;
}

body {
    background-color: var(--main-bg-clr);
    height: 100vh;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: var(--canvas-clr);
    flex-shrink: 0;
}

.options-container > label {
    margin: 10px 0px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.3rem 1.5rem;
}

.options-container:not(:last-child) {
    border-bottom: 2px solid var(--divider-clr);
}

h2 {
    text-align: center;
}

h2, .options-container label, label[for="grid-size"] {
    font-weight: 600;
}

h2, .grid-size.options-container label, label[for="grid-size"] {
    font-size: 22px;
}

div#options > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    font-size: 17px;
}

h1 {
    text-align: center;
    font-family: 'Black Ops One', monospace;
    letter-spacing: 0.2rem;
    font-size: 60px;
    color: var(--bold-heading-clr);
    padding: 20px;
}

div.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}

.wrapper {
    background-color: var(--pnl-clr);
    padding: 0px 1rem;
}

div#sizing-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

label[for="grid-size"] {
    color: var(--primary-txt-clr);
    align-self: center;
}

button, input[type="number"] {
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 0.5em 0.7em;
    border-radius: 0.7em;
    font-size: 17px;
    appearance: none;
    border: 2px solid var(--main-bg-clr);
    background-color: var(--accent-clr);
    color: var(--main-bg-clr);
}

#general-options {
    display: flex;
    justify-content: center;
    gap: 3px;
}

#general-options > button {
    flex: 1;
}


/* Input and button styling */

input[type="radio"], input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;  
    padding: 2px;
    background-clip: content-box;
    border: 2px solid var(--primary-txt-clr);
    border-radius: 50%;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: var(--primary-txt-clr);
}

input[type="radio"], input[type="checkbox"], input[type="color"], button, i, label {
    cursor: pointer;
}

input[type="color"] {
    appearance: none;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

button, i {
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
    background-color: var(--primary-txt-clr);
    color: var(--secondary-txt-clr);
}

i:hover {
    transform: scale(1.2);
}

.footer {
    font-size: 20px;
    color: var(--primary-txt-clr);
}

a, i {
    color: var(--bold-heading-clr);
    text-decoration: none;
}