/* Take care of ALL styling here unless constrained to style within javascript code.*/
/* Don't forget you can style on an event, while running programming logic on an event is for js.*/
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    background-color: navy;
    margin: auto;
}

.grid div {
    outline: 2px solid black;
}

