/* Take care of ALL styling here unless constrained to style within javascript code.*/
/* Don't forget you can style on an event, while running programming logic on an event is for js.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    width: 650px;
    background-color: navy;
    flex-shrink: 0;
}

.options-container > label {
    margin: 10px 0px;
}

.grid-size > label {
    margin: 0px;
}

legend {
    float: left;
    text-align: center;
}

legend, .options-container label {
    font-weight: 600;
}

legend, .grid-size.options-container label {
    font-size: 18px;
}

div[name="options"] fieldset {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    gap: 20px;
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', fantasy;
    color: whitesmoke;
    font-size: 50px;
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px 0px 0px 0px;
}

div[name="options"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

div[name="size-options"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.options-container {
    background-color: grey;
    border-width: 4px;
    font-family: 'Urbanist', sans-serif;
}

.option-container[name="option-container"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-size.options-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.grid-size.options-container div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button {
    padding: 5px 10px;
}

#general-options {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    margin-top: 40px;
    font-size: 17px;
}

#footer a {
    font-size: 25px;
    color: white;
}

button, input[type="number"] {
    font-family: 'Urbanist', sans-serif;
}

input[type="radio"], input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;  
    padding: 2px;
    background-clip: content-box;
    border: 2px solid #000000;
    border-radius: 50%;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: black;
}

input[type="radio"], input[type="checkbox"], input[type="color"], button, i, label {
    cursor: pointer;
}

button, i {
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

i:hover {
    transform: scale(1.2);
}

/*Style the slider*/

input[type="range"] {
    -webkit-appearance: none;
    height: 3px;
    width: 100px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}


/*Progress bar only supported in mozilla browser*/
input[type="range"]::-moz-range-progress {
    background: #000;
}


